pkgbase = omarchy-studio
	pkgdesc = One-stop theming cockpit for Omarchy — themes, keybinds, waybar, notifications, lock/idle (TUI + CLI)
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/arino08/omarchy-studio
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = omarchy-studio-0.9.1.tar.gz::https://github.com/arino08/omarchy-studio/archive/refs/tags/v0.9.1.tar.gz
	sha256sums = 63273a9b7443304373328a8aa37389a6c242d20ee15542790c84c08633cdde95

pkgname = omarchy-studio
