pkgbase = omarchy-studio
	pkgdesc = One-stop theming cockpit for Omarchy — themes, keybinds, waybar, notifications, lock/idle (TUI + CLI)
	pkgver = 0.9.3
	pkgrel = 1
	url = https://github.com/arino08/omarchy-studio
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = omarchy-studio-0.9.3.tar.gz::https://github.com/arino08/omarchy-studio/archive/refs/tags/v0.9.3.tar.gz
	sha256sums = eb0dcbcdcd01668ddffc3dbe2e0145f19f7083674164c7ae471c8d81cb0ddc6d

pkgname = omarchy-studio
